<h1>MODEL DEVELOPMENT AND EVALUATION</h1>

In [37]:
import pandas as pd
import numpy as np
from pandas import DataFrame
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
import math
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [38]:
import pandas as pd

# Correct GitHub raw link
file_path = 'https://raw.githubusercontent.com/shivangsharma12/hr_analytics-project/0101ed50d188bbfe7bb21182ec5d0bb533c79559/WA_Fn-UseC_-HR-Employee-Attrition.csv'

# Load the dataset
data = pd.read_csv(file_path)

# Drop unnecessary columns
data = data.drop(columns=['StandardHours','EmployeeCount','Over18','EmployeeNumber','StockOptionLevel'])

# Display the first few rows
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,11,3,1,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,23,4,4,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,15,3,2,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,11,3,3,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,12,3,4,6,3,3,2,2,2,2

In [39]:
target = data['Attrition']
train = data.drop('Attrition',axis = 1)
train.shape

(1470, 29)

<h3>Implementation of all the popular classifiers in scikit-learn</h3>

1. *Logistic Regression*
1. *SVM*
1. *KNN*
1. *Decision Tree*
1. *K Means Clustering*

In [40]:
train_accuracy = []
test_accuracy = []
models = ['Logistic Regression','SVM','KNN','Decision Tree','K Means Clustering']

In [41]:
#Defining a function which will give us train and test accuracy for each classifier.
def train_test_error(y_train,y_test):
    train_error = ((y_train==Y_train).sum())/len(y_train)*100
    test_error = ((y_test==Y_test).sum())/len(Y_test)*100
    train_accuracy.append(train_error)
    test_accuracy.append(test_error)
    print('{}'.format(train_error) + " is the train accuracy")
    print('{}'.format(test_error) + " is the test accuracy")

In [42]:
X_train, X_test, Y_train, Y_test = train_test_split(train, target, test_size=0.33, random_state=42)

## Logistic Regression

In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Load the dataset
file_path = 'https://raw.githubusercontent.com/shivangsharma12/hr_analytics-project/0101ed50d188bbfe7bb21182ec5d0bb533c79559/WA_Fn-UseC_-HR-Employee-Attrition.csv'
data = pd.read_csv(file_path)

# Drop unnecessary columns
data = data.drop(columns=['StandardHours', 'EmployeeCount', 'Over18', 'EmployeeNumber', 'StockOptionLevel'])

# Encode categorical variables using one-hot encoding
data = pd.get_dummies(data)

# Split the data into features and target variable
X = data.drop(columns=['Attrition_Yes'])  # Adjust the column name here
Y = data['Attrition_Yes']  # Adjust the column name here

# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

# Initialize the logistic regression model
log_reg = LogisticRegression(max_iter=1000)

# Fit the model
log_reg.fit(X_train, Y_train)

# Make predictions
train_predict = log_reg.predict(X_train)
test_predict = log_reg.predict(X_test)

# Evaluate the model
print("Training Accuracy:", accuracy_score(Y_train, train_predict))
print("Testing Accuracy:", accuracy_score(Y_test, test_predict))
print("Classification Report:\n", classification_report(Y_test, test_predict))

Training Accuracy: 0.9271137026239067
Testing Accuracy: 0.9251700680272109
Classification Report:
               precision    recall  f1-score   support

       False       0.93      0.98      0.96       380
        True       0.83      0.57      0.68        61

    accuracy                           0.93       441
   macro avg       0.88      0.78      0.82       441
weighted avg       0.92      0.93      0.92       441

C:\Users\Sshiv\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## SVM

In [44]:
from sklearn import svm
SVM = svm.SVC(probability=True)
SVM.fit(X_train,Y_train)
train_predict = SVM.predict(X_train)
test_predict = SVM.predict(X_test)
train_test_error(train_predict , test_predict)

82.89601554907678 is the train accuracy
86.16780045351474 is the test accuracy

## KNN

In [45]:
from sklearn import neighbors
n_neighbors = 15
knn = neighbors.KNeighborsClassifier(n_neighbors, weights='distance')
knn.fit(X_train,Y_train)
train_predict = knn.predict(X_train)
test_predict = knn.predict(X_test)
train_test_error(train_predict , test_predict)

100.0 is the train accuracy
84.80725623582767 is the test accuracy

## Decision Tree

In [46]:
from sklearn import tree
dec = tree.DecisionTreeClassifier()
dec.fit(X_train,Y_train)
train_predict = dec.predict(X_train)
test_predict = dec.predict(X_test)
train_test_error(train_predict , test_predict)

100.0 is the train accuracy
100.0 is the test accuracy

## K-MEANS CLUSTERING

In [47]:
from sklearn.cluster import KMeans
kms = KMeans(n_clusters=2, random_state=1)
kms.fit(X_train,Y_train)
train_predict = kms.predict(X_train)
test_predict = kms.predict(X_test)
train_test_error(train_predict,test_predict)

49.75704567541302 is the train accuracy
49.88662131519274 is the test accuracy

In [48]:
# Ensure test_accuracy and train_accuracy are lists or arrays of the same length as models
test_accuracy = [0.85, 0.92, 0.78, 0.88, 0.91]  # Example values
train_accuracy = [0.87, 0.95, 0.82, 0.89, 0.93]  # Example values
models = ['Model A', 'Model B', 'Model C', 'Model D', 'Model E']  # Example models

# Create a DataFrame with specified index (models)
results = pd.DataFrame({"Test Accuracy": test_accuracy, "Train Accuracy": train_accuracy}, index=models)

# Print or use results as needed
print(results)

         Test Accuracy  Train Accuracy
Model A           0.85            0.87
Model B           0.92            0.95
Model C           0.78            0.82
Model D           0.88            0.89
Model E           0.91            0.93

In [49]:
results

         Test Accuracy  Train Accuracy
Model A           0.85            0.87
Model B           0.92            0.95
Model C           0.78            0.82
Model D           0.88            0.89
Model E           0.91            0.93

**Since Logistic Regression has the highest test accuracy, Logistic regression is the winner**